.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .back-btn {
    padding: 8px;
    position: absolute;
    background: #dadada;
    margin: 12px 0 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 32px;
    height: 32px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.mt-auto {
  margin-top: auto;
}

.swiper-main {
  height: 50px;
  font-size: 22px;
  overflow: hidden;
}

.slide-item {
  color: white;
  text-align: center;
  font-family: 'gilroy-medium';
  font-size: 16px;
}

.div-main-fab {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  .fab-container {
    bottom: 20px;
    right: 20px;
    flex-direction: column;
    display: flex;
    z-index: 2;
  }

  .fab-container button {
    margin-bottom: 10px;
    background: #f07499;

    &.active {
      background: var(--primary-color);
      box-shadow: #f07499 0px 10px 50px;
    }
  }
}

.swiper-slide-active {
  filter: blur(0px) !important;
}

.swiper-slide {
  filter: blur(1px);
}

.p-walkthrough {
  font-size: 16px;
  text-align: center;
}

/* Media query for screens up to 320px width */
@media screen and (max-width: 560px) {
  .div-main-fab {
    .fab-container button {
      width: var(--button-width);
      height: 50px;
      margin-bottom: 6px;
      font-size: 12px;
    }
  }

  .p-walkthrough {
    font-size: 12px;
  }
}
